@model Minisito_pasticceria.Models.PostModel

@{
    ViewBag.Title = "Detail";
    ViewBag.HeaderMod = new Minisito_pasticceria.Models.HeaderModel()
    {
        Title = "Dettagli"
    };
}

<h2>Detail</h2>

<h3>@Model.id</h3>