@model Minisito_pasticceria.Models.PageElementModel

<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="@Model.Element.imgPath" alt="..." />
<div class="about-heading-content">
    <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">@Model.Element.title</span>
                    <span class="section-heading-lower">@Model.Element.subTitle</span>
                </h2>
                <p>@Model.Element.paragraph</p>
            </div>
        </div>
    </div>
</div>